---
layout: default
title: Crossfit Power Company
---

<div id="home" class="padded">
  <h2>Workout of the Day</h2>
  {% for post in site.posts limit:2 %}
    <div class="post post-full">
      <div class="border-bottom gap-bottom block">
        <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
        <span class="inline-block pull-right small"><em>{{ post.date | date_to_string }}</em></span>
      </div>
      {{post.content}}
    </div>
  {% endfor %}
  {% for post in site.posts limit:5 offset:2 %}
    <div class="post post-excerpt">
      <div class="border-bottom gap-bottom block">
        <a href="{{ site.prefix }}{{ post.url }}">{{ post.title }}</a>
        <span class="inline-block pull-right small"><em>{{ post.date | date_to_string }}</em></span>
      </div>
      {{post.excerpt}}
    </div>
  {% endfor %}
</div>
