<div class="row padded">
  <h2 class="red">$71/month</h2>

  <p class="small">Unlimited multi-level CrossFit classes with <b>no on-ramp required</b> (<em><a href="/about" class="emphasized">learn why</a></em>)</p>

  <p class="small">Access to all 8 Touchstone Climbing Gyms</p>
</div>
<div class="row padded">
  <h4 class="red">Location</h4>
  <p class="small">
    GREAT WESTERN POWER CO. <br>
    <!-- <a href="https://maps.google.com/maps?q=520+20th+St,+Oakland,+CA+%E2%80%8E&hl=en&ie=UTF8&sll=37.809795,-122.270138&sspn=0.033973,0.066047&hnear=520+20th+St,+Oakland,+California+94612&t=m&z=17"> -->
    <a href="http://maps.google.com/?q=520+20th+St,+Oakland,+CA+%E2%80%8E&sll=37.809795,-122.270138&sspn=0.033973,0.066047">
      520 20th St. <br>
      Oakland, CA 94612 <br>
    </a>
    <a href="tel:15104522022" type="tel" class="button">510.452.2022</a>
  </p>
</div>
<div class="row padded">
  <h4 class="red">Our Friends</h4>
  <ul class="unstyled small">
    <li><a href="http://www.crossfiteastbay.com/">CFEB</a></li>
    <li>COCO</li>
  </ul>
</div>
