<div class="footer padded">
  <!-- <div class="row">
    <div class="contact one third small-tablet">
      <p>
        Rafael Vega<br />
        Owner<br />
        <a href="mailto:#" role="button" class="asphalt">raf@cfph.com</a>
      </p>
    </div>
    <div class="contact one third small-tablet">
      <p>
        <a href="https://www.facebook.com/gwstrengthandconditioning">Facebook Page</a>
      </p>
    </div>
    <div class="contact one third small-tablet">
      <p>
        <a href="https://www.facebook.com/gwstrengthandconditioning">Facebook Page</a>
      </p>
    </div>
  </div> -->
  <div class="row copyright align-center border-top pad-top gap-top small"><em>Copyright Crossfit Power House 2013</em></div>
</div>
