<div class="header row padded">

  <div class="">
    <a href="/"><img src="{{ site.imageasset }}/logo.jpg" alt="{{ site.shortname }}" class="logo"></a>
  </div>

  <div class="small-tablet">
    <!-- Nav -->
    <nav class="nav mobile square charcoal" title="Menu">
      <ul>
        <li><button>About CFPC</button>
          <ul>
            <li><a href="/about">Who is CFPC?</a></li>
            <li><button>Trainers</button>
              <ul>
                <li><a href="/about">Rafeal "Vegatron" Vega</a></li>
                <li><a href="/about">Ynez "La Pistola" Acre</a></li>
              </ul>
            </li>
            <li><a href="/about">What is Crossfit?</a></li>
          </ul>
        </li>
        <li><a href="/schedule">Schedule</a></li>
        <li><a href="/blog">Archives</a></li>
        <li><a href="/resources">Resources</a></li>
      </ul>
    </nav>
    <!-- End Nav -->
  </div>

</div>

<div class="pad-left pad-right">
  <div class="advertise row mobile-only message red">
    $71/month for Unlimited Classes [link]
  </div>
</div>


